{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
<title>Eliminar Profesor</title>
{% endblock titulo %}

{% block contenido %}
    <h2>Eliminar Profesor</h2>
    <p>¿Estás seguro de que deseas eliminar al profesor "{{ profesor.nombre }}"?</p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Eliminar" class="btn btn-danger">
        <a href="{% url 'profesores' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock contenido %}
