{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
<title>Resultados</title>
{% endblock titulo %}

{% block contenido %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Día</th>
                <th>Hora</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for clase in clases %}
            <tr>
                <td>{{ clase.id }}</td>
                <td>{{ clase.nombre }}</td>
                <td>{{ clase.dia }}</td>
                <td>{{ clase.hora }}</td>
                <td>{{ clase.valor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock contenido %}