{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
<title>Resultados</title>
{% endblock titulo %}

{% block contenido %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.id }}</td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.mail }}</td>
                <td>{{ alumno.edad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock contenido %}